body {
  background-color: #FFD1D4;
}

.🏡 {
  display: block;
  position: absolute;
  top: 25%;
  left: 20%;

  .roof {
    z-index: 7;
    display: block;
    position: absolute;
    .rooflhs {
      display: block;
      position: relative;
      border-style: solid;
      border-width: 0 150px 110px 150px;
      border-color: transparent transparent #FF87BD transparent;
      bottom: 89px;
      right: 9px;
      transform: rotate(-7.6deg);
    }
    .rooflhsmid {
      display: block;
      position: absolute;
      border-style: solid;
      border-width: 110px 150px 0 150px;
      border-color: #FF87BD transparent transparent transparent;
      bottom: 110px;
      left: 150px;
    }
    .roofrhs {
      display: block;
      position: absolute;
      height: 0px;
      border-style: solid;
      border-width: 0 150px 130px 150px;
      border-color: transparent transparent #977FAB transparent;
      top: -130px;
      left: 300px;
    }
  }

  .front {
    .frontlhs {
      z-index: 8;
      display: block;
      .frontlhstop {
        display: block;
        position: relative;
        height: 0px;
        border-style: solid;
        border-width: 40px 300px 40px 0;
        border-color: transparent #C8E8DE transparent transparent;
      }
      .frontlhsmid {
        display: block;
        position: relative;
        width: 300px;
        height: 300px;
        background-color: #C8E8DE;
        bottom: 40px;
      }
    }
    .frontrhs {
      z-index: 9;
      display: block;
      .frontrhsbtm {
        display: block;
        position: relative;
        width: 300px;
        height: 340px;
        background-color: #BBA5CD;
        left: 300px;
        bottom: 380px;
      }
    }
  } // end front

} // end house
